  
target
tomcat.8080
tomcat.5000

.metadata
.classpath


# IntelliJ Idea project files
.idea
*.iml

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath