/* Global */
body{
    background-color:#CCC;
    color:#333;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin:0;
    padding:0;
}

/* Header */
header {
    background-color:#990000;
    color:#fff;
    padding-top:40px;
    padding-left:30px;
    padding-bottom:1px;
    width:100%;
}

.highlight{
    color:#FFCC00;
}

.container{
    display:flex;
    justify-content:center;
}

/* Login and Sign Up */
.box{
    background-color:#FFF;
    margin:50px;
    padding:20px;
    text-align: center;
    border:2px;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    border-style:solid;
}

.box h3 {
    font-size: 25px;
    margin-top:0;
    margin-bottom:10px;
}

.box button{
    margin-top:12px;
    width:95%;
    border:2px;
    background-color:#FFCC00;
    border-color:#FFCC00;
    border-style:solid;
    border-radius:8px;
}

.box button:hover {
    background-color: rgb(226, 181, 0);
    border-color: rgb(226, 181, 0);
    cursor: pointer;
}

.box input{
    margin:5px;
    padding-bottom:3px;
    border-bottom:2px;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-color: rgb(173, 173, 173);
    border-style:solid;
}


